<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @(ViewData["Title"] == "Index" ? "active" : "")" id="profile" asp-action="Index">Index</a></li>
    <li class="nav-item"><a class="nav-link @(ViewData["Title"] == "Users" ? "active" : "")" id="profile" asp-action="Users">Users</a></li>
    <li class="nav-item"><a class="nav-link @(ViewData["Title"] == "Roles" ? "active" : "")" id="profile" asp-action="Roles">Roles</a></li>
    <li class="nav-item"><a class="nav-link @(ViewData["Title"] == "Cakes" ? "active" : "")" id="profile" asp-action="Cakes">Cakes</a></li>
</ul>